* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0 1.5em; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: rgb(19, 19, 19);
}

.container {
    margin: 40px auto;
    padding: 1.5em;
    max-width: 850px;
    background-color: antiquewhite;
}

.fullname-container {
    display: flex;
}

/* .fullname-container > div {
    margin: 10px;
} */

.name-container input {
    width: 240px;
    height: 40px;
    padding: 1em;
}

.surname-container input {
    width: 240px;
    height: 40px;
    padding: 1em;
}

.email-container input{
    width: 500px;
}

.passwords-container {
    display: flex;
}

.password-container input {
    width: 240px;
    height: 40px;
    padding: 1em;
}
